# Project - Mark Dillon

In [1]:
#import necessary packages to begin
import pandas as pd
import numpy as np
import requests

In [11]:
#Read in CSV file for 1st dataset
golf_stats = pd.read_csv("C:/Users/Mark/Desktop/Intro_to_Data-Analytics_UCD_Mark_Dillon/Datasets/PGA Tour Data 15-22/pga1522raw.csv")
print(golf_stats.head())

  Player_initial_last  tournament id  player id  hole_par  strokes  hole_DKP  \
0            A. Ancer      401353224       9261       288      289      60.0
1           A. Hadwin      401353224       5548       288      286      72.5
2           A. Lahiri      401353224       4989       144      147      21.5
3             A. Long      401353224       6015       144      151      20.5
4            A. Noren      401353224       3832       144      148      23.5

   hole_FDP  hole_SDP  streak_DKP  streak_FDP  ...  purse  season  no_cut  \
0      51.1        56           3         7.6  ...   12.0    2022       0
1      61.5        61           8        13.0  ...   12.0    2022       0
2      17.4        27           0         0.0  ...   12.0    2022       0
3      13.6        17           0         0.4  ...   12.0    2022       0
4      18.1        23           0         1.2  ...   12.0    2022       0

   Finish  sg_putt  sg_arg  sg_app  sg_ott  sg_t2g  sg_total
0     T32     0.20   -0.13   -0.08    0.86    0.65      0.85
1     T18     0.36    0.75    0.31    0.18    1.24      1.60
2     CUT    -0.56    0.74   -1.09    0.37    0.02     -0.54
3     CUT    -1.46   -1.86   -0.02    0.80   -1.08     -2.54
4     CUT     0.53   -0.36   -1.39    0.19   -1.56     -1.04

[5 rows x 37 columns]

In [13]:
#check data types and null counts
golf_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36864 entries, 0 to 36863
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player_initial_last  36864 non-null  object
 1   tournament id        36864 non-null  int64
 2   player id            36864 non-null  int64
 3   hole_par             36864 non-null  int64
 4   strokes              36864 non-null  int64
 5   hole_DKP             36864 non-null  float64
 6   hole_FDP             36864 non-null  float64
 7   hole_SDP             36864 non-null  int64
 8   streak_DKP           36864 non-null  int64
 9   streak_FDP           36864 non-null  float64
 10  streak_SDP           36864 non-null  int64
 11  n_rounds             36864 non-null  int64
 12  made_cut             36864 non-null  int64
 13  pos                  21317 non-null  float64
 14  finish_DKP           36864 non-null  int64
 15  finish_FDP           36864 non-null  int64
 16  finish_SDP           36864 non-null  int64
 17  total_DKP            36864 non-null  float64
 18  total_FDP            36864 non-null  float64
 19  total_SDP            36864 non-null  int64
 20  player               36864 non-null  object
 21  Unnamed: 2           0 non-null      float64
 22  Unnamed: 3           0 non-null      float64
 23  Unnamed: 4           0 non-null      float64
 24  tournament name      36864 non-null  object
 25  course               36864 non-null  object
 26  date                 36864 non-null  object
 27  purse                36864 non-null  float64
 28  season               36864 non-null  int64
 29  no_cut               36864 non-null  int64
 30  Finish               29181 non-null  object
 31  sg_putt              29180 non-null  float64
 32  sg_arg               29180 non-null  float64
 33  sg_app               29180 non-null  float64
 34  sg_ott               29180 non-null  float64
 35  sg_t2g               29180 non-null  float64
 36  sg_total             29181 non-null  float64
dtypes: float64(16), int64(15), object(6)
memory usage: 10.4+ MB

In [14]:
golf_stats.dtypes

Player_initial_last     object
tournament id            int64
player id                int64
hole_par                 int64
strokes                  int64
hole_DKP               float64
hole_FDP               float64
hole_SDP                 int64
streak_DKP               int64
streak_FDP             float64
streak_SDP               int64
n_rounds                 int64
made_cut                 int64
pos                    float64
finish_DKP               int64
finish_FDP               int64
finish_SDP               int64
total_DKP              float64
total_FDP              float64
total_SDP                int64
player                  object
Unnamed: 2             float64
Unnamed: 3             float64
Unnamed: 4             float64
tournament name         object
course                  object
date                    object
purse                  float64
season                   int64
no_cut                   int64
Finish                  object
sg_putt                float64
sg_arg                 float64
sg_app                 float64
sg_ott                 float64
sg_t2g                 float64
sg_total               float64
dtype: object

In [20]:
#checking number of nulls
golf_stats.isna().any()

Player_initial_last    False
tournament id          False
player id              False
hole_par               False
strokes                False
hole_DKP               False
hole_FDP               False
hole_SDP               False
streak_DKP             False
streak_FDP             False
streak_SDP             False
n_rounds               False
made_cut               False
pos                     True
finish_DKP             False
finish_FDP             False
finish_SDP             False
total_DKP              False
total_FDP              False
total_SDP              False
player                 False
Unnamed: 2              True
Unnamed: 3              True
Unnamed: 4              True
tournament name        False
course                 False
date                   False
purse                  False
season                 False
no_cut                 False
Finish                  True
sg_putt                 True
sg_arg                  True
sg_app                  True
sg_ott                  True
sg_t2g                  True
sg_total                True
dtype: bool

In [21]:
golf_stats.isnull().sum()

Player_initial_last        0
tournament id              0
player id                  0
hole_par                   0
strokes                    0
hole_DKP                   0
hole_FDP                   0
hole_SDP                   0
streak_DKP                 0
streak_FDP                 0
streak_SDP                 0
n_rounds                   0
made_cut                   0
pos                    15547
finish_DKP                 0
finish_FDP                 0
finish_SDP                 0
total_DKP                  0
total_FDP                  0
total_SDP                  0
player                     0
Unnamed: 2             36864
Unnamed: 3             36864
Unnamed: 4             36864
tournament name            0
course                     0
date                       0
purse                      0
season                     0
no_cut                     0
Finish                  7683
sg_putt                 7684
sg_arg                  7684
sg_app                  7684
sg_ott                  7684
sg_t2g                  7684
sg_total                7683
dtype: int64

In [17]:
golf_stats.describe()

,tournament id,player id,hole_par,strokes,hole_DKP,hole_FDP,hole_SDP,streak_DKP,streak_FDP,streak_SDP,...,Unnamed: 4,purse,season,no_cut,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total
count,3.686400e+04,3.686400e+04,36864.000000,36864.000000,36864.000000,36864.000000,36864.000000,36864.000000,36864.000000,36864.000000,...,0.0,36864.000000,36864.000000,36864.000000,29180.000000,29180.000000,29180.000000,29180.000000,29180.000000,29181.000000
mean,2.331807e+08,7.979041e+04,225.547065,224.114502,50.130249,44.375789,49.323703,1.764052,7.686844,1.683485,...,NaN,7.529612,2018.539686,0.065294,-0.121005,-0.040744,-0.101759,-0.045896,-0.188346,-0.305491
std,1.979221e+08,5.753816e+05,70.295590,66.789007,24.025854,24.153313,22.202915,2.846552,7.252924,2.668202,...,NaN,2.192712,2.213050,0.247047,1.119451,0.727315,1.119763,0.808139,1.640817,1.966669
min,2.230000e+03,5.000000e+00,70.000000,66.000000,-2.500000,-21.400000,-11.000000,0.000000,0.000000,0.000000,...,NaN,3.000000,2015.000000,0.000000,-5.990000,-6.430000,-9.250000,-7.740000,-13.950000,-13.670000
25%,2.696000e+03,1.170000e+03,143.000000,146.000000,27.000000,22.600000,28.000000,0.000000,0.800000,0.000000,...,NaN,6.400000,2017.000000,0.000000,-0.770000,-0.450000,-0.740000,-0.450000,-1.080000,-1.370000
50%,4.010565e+08,3.793000e+03,280.000000,272.000000,53.500000,46.100000,55.000000,0.000000,6.400000,0.000000,...,NaN,7.100000,2019.000000,0.000000,-0.040000,0.000000,0.000000,0.050000,-0.010000,-0.160000
75%,4.012195e+08,6.151000e+03,286.000000,281.000000,69.000000,64.000000,69.000000,3.000000,12.400000,3.000000,...,NaN,8.700000,2021.000000,0.000000,0.630000,0.420000,0.640000,0.480000,0.920000,1.060000
max,4.013669e+08,4.845309e+06,292.000000,325.000000,174.000000,134.700000,107.000000,23.000000,43.600000,22.000000,...,NaN,20.000000,2022.000000,1.000000,4.430000,3.170000,4.670000,2.770000,6.300000,8.520000