# Project - Mark Dillon

In [1]:
#import necessary packages to begin
import pandas as pd
import numpy as np
import requests

In [11]:
#Read in CSV file for 1st dataset
golf_stats = pd.read_csv("C:/Users/Mark/Desktop/Intro_to_Data-Analytics_UCD_Mark_Dillon/Datasets/PGA Tour Data 15-22/pga1522raw.csv")
print(golf_stats.head())

  Player_initial_last  tournament id  player id  hole_par  strokes  hole_DKP  \
0            A. Ancer      401353224       9261       288      289      60.0
1           A. Hadwin      401353224       5548       288      286      72.5
2           A. Lahiri      401353224       4989       144      147      21.5
3             A. Long      401353224       6015       144      151      20.5
4            A. Noren      401353224       3832       144      148      23.5

   hole_FDP  hole_SDP  streak_DKP  streak_FDP  ...  purse  season  no_cut  \
0      51.1        56           3         7.6  ...   12.0    2022       0
1      61.5        61           8        13.0  ...   12.0    2022       0
2      17.4        27           0         0.0  ...   12.0    2022       0
3      13.6        17           0         0.4  ...   12.0    2022       0
4      18.1        23           0         1.2  ...   12.0    2022       0

   Finish  sg_putt  sg_arg  sg_app  sg_ott  sg_t2g  sg_total
0     T32     0.20   -0.13   -0.08    0.86    0.65      0.85
1     T18     0.36    0.75    0.31    0.18    1.24      1.60
2     CUT    -0.56    0.74   -1.09    0.37    0.02     -0.54
3     CUT    -1.46   -1.86   -0.02    0.80   -1.08     -2.54
4     CUT     0.53   -0.36   -1.39    0.19   -1.56     -1.04

[5 rows x 37 columns]

# Checking the dataset

In [13]:
#check data types and null counts
golf_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36864 entries, 0 to 36863
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player_initial_last  36864 non-null  object
 1   tournament id        36864 non-null  int64
 2   player id            36864 non-null  int64
 3   hole_par             36864 non-null  int64
 4   strokes              36864 non-null  int64
 5   hole_DKP             36864 non-null  float64
 6   hole_FDP             36864 non-null  float64
 7   hole_SDP             36864 non-null  int64
 8   streak_DKP           36864 non-null  int64
 9   streak_FDP           36864 non-null  float64
 10  streak_SDP           36864 non-null  int64
 11  n_rounds             36864 non-null  int64
 12  made_cut             36864 non-null  int64
 13  pos                  21317 non-null  float64
 14  finish_DKP           36864 non-null  int64
 15  finish_FDP           36864 non-null  int64
 16  finish_SDP           36864 non-null  int64
 17  total_DKP            36864 non-null  float64
 18  total_FDP            36864 non-null  float64
 19  total_SDP            36864 non-null  int64
 20  player               36864 non-null  object
 21  Unnamed: 2           0 non-null      float64
 22  Unnamed: 3           0 non-null      float64
 23  Unnamed: 4           0 non-null      float64
 24  tournament name      36864 non-null  object
 25  course               36864 non-null  object
 26  date                 36864 non-null  object
 27  purse                36864 non-null  float64
 28  season               36864 non-null  int64
 29  no_cut               36864 non-null  int64
 30  Finish               29181 non-null  object
 31  sg_putt              29180 non-null  float64
 32  sg_arg               29180 non-null  float64
 33  sg_app               29180 non-null  float64
 34  sg_ott               29180 non-null  float64
 35  sg_t2g               29180 non-null  float64
 36  sg_total             29181 non-null  float64
dtypes: float64(16), int64(15), object(6)
memory usage: 10.4+ MB

In [14]:
golf_stats.dtypes

Player_initial_last     object
tournament id            int64
player id                int64
hole_par                 int64
strokes                  int64
hole_DKP               float64
hole_FDP               float64
hole_SDP                 int64
streak_DKP               int64
streak_FDP             float64
streak_SDP               int64
n_rounds                 int64
made_cut                 int64
pos                    float64
finish_DKP               int64
finish_FDP               int64
finish_SDP               int64
total_DKP              float64
total_FDP              float64
total_SDP                int64
player                  object
Unnamed: 2             float64
Unnamed: 3             float64
Unnamed: 4             float64
tournament name         object
course                  object
date                    object
purse                  float64
season                   int64
no_cut                   int64
Finish                  object
sg_putt                float64
sg_arg                 float64
sg_app                 float64
sg_ott                 float64
sg_t2g                 float64
sg_total               float64
dtype: object

In [20]:
#checking number of nulls
golf_stats.isna().any()

Player_initial_last    False
tournament id          False
player id              False
hole_par               False
strokes                False
hole_DKP               False
hole_FDP               False
hole_SDP               False
streak_DKP             False
streak_FDP             False
streak_SDP             False
n_rounds               False
made_cut               False
pos                     True
finish_DKP             False
finish_FDP             False
finish_SDP             False
total_DKP              False
total_FDP              False
total_SDP              False
player                 False
Unnamed: 2              True
Unnamed: 3              True
Unnamed: 4              True
tournament name        False
course                 False
date                   False
purse                  False
season                 False
no_cut                 False
Finish                  True
sg_putt                 True
sg_arg                  True
sg_app                  True
sg_ott                  True
sg_t2g                  True
sg_total                True
dtype: bool

In [21]:
golf_stats.isnull().sum()

Player_initial_last        0
tournament id              0
player id                  0
hole_par                   0
strokes                    0
hole_DKP                   0
hole_FDP                   0
hole_SDP                   0
streak_DKP                 0
streak_FDP                 0
streak_SDP                 0
n_rounds                   0
made_cut                   0
pos                    15547
finish_DKP                 0
finish_FDP                 0
finish_SDP                 0
total_DKP                  0
total_FDP                  0
total_SDP                  0
player                     0
Unnamed: 2             36864
Unnamed: 3             36864
Unnamed: 4             36864
tournament name            0
course                     0
date                       0
purse                      0
season                     0
no_cut                     0
Finish                  7683
sg_putt                 7684
sg_arg                  7684
sg_app                  7684
sg_ott                  7684
sg_t2g                  7684
sg_total                7683
dtype: int64

In [17]:
golf_stats.describe()

,tournament id,player id,hole_par,strokes,hole_DKP,hole_FDP,hole_SDP,streak_DKP,streak_FDP,streak_SDP,...,Unnamed: 4,purse,season,no_cut,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total
count,3.686400e+04,3.686400e+04,36864.000000,36864.000000,36864.000000,36864.000000,36864.000000,36864.000000,36864.000000,36864.000000,...,0.0,36864.000000,36864.000000,36864.000000,29180.000000,29180.000000,29180.000000,29180.000000,29180.000000,29181.000000
mean,2.331807e+08,7.979041e+04,225.547065,224.114502,50.130249,44.375789,49.323703,1.764052,7.686844,1.683485,...,NaN,7.529612,2018.539686,0.065294,-0.121005,-0.040744,-0.101759,-0.045896,-0.188346,-0.305491
std,1.979221e+08,5.753816e+05,70.295590,66.789007,24.025854,24.153313,22.202915,2.846552,7.252924,2.668202,...,NaN,2.192712,2.213050,0.247047,1.119451,0.727315,1.119763,0.808139,1.640817,1.966669
min,2.230000e+03,5.000000e+00,70.000000,66.000000,-2.500000,-21.400000,-11.000000,0.000000,0.000000,0.000000,...,NaN,3.000000,2015.000000,0.000000,-5.990000,-6.430000,-9.250000,-7.740000,-13.950000,-13.670000
25%,2.696000e+03,1.170000e+03,143.000000,146.000000,27.000000,22.600000,28.000000,0.000000,0.800000,0.000000,...,NaN,6.400000,2017.000000,0.000000,-0.770000,-0.450000,-0.740000,-0.450000,-1.080000,-1.370000
50%,4.010565e+08,3.793000e+03,280.000000,272.000000,53.500000,46.100000,55.000000,0.000000,6.400000,0.000000,...,NaN,7.100000,2019.000000,0.000000,-0.040000,0.000000,0.000000,0.050000,-0.010000,-0.160000
75%,4.012195e+08,6.151000e+03,286.000000,281.000000,69.000000,64.000000,69.000000,3.000000,12.400000,3.000000,...,NaN,8.700000,2021.000000,0.000000,0.630000,0.420000,0.640000,0.480000,0.920000,1.060000
max,4.013669e+08,4.845309e+06,292.000000,325.000000,174.000000,134.700000,107.000000,23.000000,43.600000,22.000000,...,NaN,20.000000,2022.000000,1.000000,4.430000,3.170000,4.670000,2.770000,6.300000,8.520000

# Cleaning the data

In [22]:
# Remove columns with no data
golf_stats.drop(columns = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace = True)

In [28]:
golf_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36864 entries, 0 to 36863
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player_initial_last  36864 non-null  object
 1   tournament id        36864 non-null  int64
 2   player id            36864 non-null  int64
 3   hole_par             36864 non-null  int64
 4   strokes              36864 non-null  int64
 5   hole_DKP             36864 non-null  float64
 6   hole_FDP             36864 non-null  float64
 7   hole_SDP             36864 non-null  int64
 8   streak_DKP           36864 non-null  int64
 9   streak_FDP           36864 non-null  float64
 10  streak_SDP           36864 non-null  int64
 11  n_rounds             36864 non-null  int64
 12  made_cut             36864 non-null  int64
 13  pos                  21317 non-null  float64
 14  finish_DKP           36864 non-null  int64
 15  finish_FDP           36864 non-null  int64
 16  finish_SDP           36864 non-null  int64
 17  total_DKP            36864 non-null  float64
 18  total_FDP            36864 non-null  float64
 19  total_SDP            36864 non-null  int64
 20  player               36864 non-null  object
 21  tournament name      36864 non-null  object
 22  course               36864 non-null  object
 23  date                 36864 non-null  object
 24  purse                36864 non-null  float64
 25  season               36864 non-null  int64
 26  no_cut               36864 non-null  int64
 27  Finish               29181 non-null  object
 28  sg_putt              29180 non-null  float64
 29  sg_arg               29180 non-null  float64
 30  sg_app               29180 non-null  float64
 31  sg_ott               29180 non-null  float64
 32  sg_t2g               29180 non-null  float64
 33  sg_total             29181 non-null  float64
dtypes: float64(13), int64(15), object(6)
memory usage: 9.6+ MB

In [38]:
#Relacing null values by column
golf_stats['pos'] = golf_stats['pos'].fillna(0)
golf_stats['sg_putt'] = golf_stats['sg_putt'].fillna(0)

In [42]:
#Replacing all null columns in dataframe at once, when happy we can
golf_stats.fillna(value = 0,
          inplace = True)

In [39]:
#Re-check data types and null counts
golf_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36864 entries, 0 to 36863
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player_initial_last  36864 non-null  object
 1   tournament id        36864 non-null  int64
 2   player id            36864 non-null  int64
 3   hole_par             36864 non-null  int64
 4   strokes              36864 non-null  int64
 5   hole_DKP             36864 non-null  float64
 6   hole_FDP             36864 non-null  float64
 7   hole_SDP             36864 non-null  int64
 8   streak_DKP           36864 non-null  int64
 9   streak_FDP           36864 non-null  float64
 10  streak_SDP           36864 non-null  int64
 11  n_rounds             36864 non-null  int64
 12  made_cut             36864 non-null  int64
 13  pos                  36864 non-null  float64
 14  finish_DKP           36864 non-null  int64
 15  finish_FDP           36864 non-null  int64
 16  finish_SDP           36864 non-null  int64
 17  total_DKP            36864 non-null  float64
 18  total_FDP            36864 non-null  float64
 19  total_SDP            36864 non-null  int64
 20  player               36864 non-null  object
 21  tournament name      36864 non-null  object
 22  course               36864 non-null  object
 23  date                 36864 non-null  object
 24  purse                36864 non-null  float64
 25  season               36864 non-null  int64
 26  no_cut               36864 non-null  int64
 27  Finish               29181 non-null  object
 28  sg_putt              36864 non-null  float64
 29  sg_arg               29180 non-null  float64
 30  sg_app               29180 non-null  float64
 31  sg_ott               29180 non-null  float64
 32  sg_t2g               29180 non-null  float64
 33  sg_total             29181 non-null  float64
dtypes: float64(13), int64(15), object(6)
memory usage: 9.6+ MB

In [44]:
#rechecking the nulls count again
golf_stats.isnull().sum()

Player_initial_last    0
tournament id          0
player id              0
hole_par               0
strokes                0
hole_DKP               0
hole_FDP               0
hole_SDP               0
streak_DKP             0
streak_FDP             0
streak_SDP             0
n_rounds               0
made_cut               0
pos                    0
finish_DKP             0
finish_FDP             0
finish_SDP             0
total_DKP              0
total_FDP              0
total_SDP              0
player                 0
tournament name        0
course                 0
date                   0
purse                  0
season                 0
no_cut                 0
Finish                 0
sg_putt                0
sg_arg                 0
sg_app                 0
sg_ott                 0
sg_t2g                 0
sg_total               0
dtype: int64

In [51]:
#Convert datatypes to str format
golf_stats['tournament name'] = golf_stats['tournament name'].astype('string')
golf_stats['player'] = golf_stats['player'].astype('string')

In [58]:
golf_stats["tournament name"].dtypes

string[python]

In [63]:
#Set index of dataframe to Player ID column
golf_stats.set_index('player id', inplace=True)

In [64]:
#Sort by index to check
golf_stats.sort_index()

,Player_initial_last,tournament id,hole_par,strokes,hole_DKP,hole_FDP,hole_SDP,streak_DKP,streak_FDP,streak_SDP,...,purse,season,no_cut,Finish,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total
player id,,,,,,,,,,,,,,,,,,,,,
5,R. Allenby,2528,142,142,33.5,27.1,31,3,10.8,4,...,5.7,2016,0,CUT,2.67,0.40,-1.74,0.31,-1.03,1.64
5,R. Allenby,401148237,144,152,15.5,8.3,19,0,0.0,0,...,7.5,2020,0,CUT,-0.48,0.21,-1.95,-1.39,-3.12,-3.60
5,R. Allenby,2495,140,140,31.0,25.8,30,3,6.4,3,...,5.6,2016,0,CUT,0.77,-0.51,0.15,-1.08,-1.43,-0.66
5,R. Allenby,2494,142,149,15.5,10.8,19,0,0.2,0,...,5.9,2016,0,CUT,-0.83,-0.31,-1.83,0.37,-1.78,-2.61
5,R. Allenby,2502,140,142,26.5,22.6,28,0,0.4,0,...,6.2,2016,0,CUT,-2.18,0.24,1.06,0.97,2.27,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4845307,G. Koch,401353255,142,145,26.0,20.7,24,0,1.4,0,...,7.8,2022,0,CUT,-1.24,-0.43,-0.71,0.08,-1.05,-2.29
4845307,G. Koch,401353239,144,151,18.5,13.0,17,0,0.6,0,...,12.0,2022,0,CUT,-1.72,0.52,-1.56,0.58,-0.47,-2.18
4845308,B. Marek,401243418,288,300,50.0,37.1,43,3,7.0,3,...,12.0,2021,0,78,1.45,-0.61,-1.46,-0.37,-2.45,-1.00
4845308,B. Marek,401353235,215,213,44.5,40.5,49,0,2.0,0,...,8.7,2022,0,CUT,0.68,-0.51,-0.72,-0.69,-1.91,0.03
4845309,T. Pearce,401243418,144,156,13.0,3.4,10,0,0.4,0,...,12.0,2021,0,CUT,0.18,-1.61,-1.35,-0.07,-3.03,-2.85

In [66]:
#Change sorting back to Alphabetical on Player_initial_last, then by Tournament Name
golf_stats.sort_values(['Player_initial_last','tournament name'])

,Player_initial_last,tournament id,hole_par,strokes,hole_DKP,hole_FDP,hole_SDP,streak_DKP,streak_FDP,streak_SDP,...,purse,season,no_cut,Finish,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total
player id,,,,,,,,,,,,,,,,,,,,,
10357,A. Albertson,401056558,142,139,35.0,31.8,37,3,6.8,3,...,6.4,2019,0,MDF,1.28,-0.58,-0.85,-0.65,-2.08,-0.80
10357,A. Albertson,401056551,142,145,24.0,20.1,24,0,1.4,0,...,7.9,2019,0,CUT,-2.26,0.05,0.33,-0.26,0.12,-2.14
10357,A. Albertson,401056514,215,216,44.0,37.3,44,0,1.6,0,...,7.6,2019,0,CUT,-2.15,-0.34,0.49,-0.04,0.11,-2.04
10357,A. Albertson,401056521,144,152,10.0,6.0,20,0,0.0,0,...,9.1,2019,0,CUT,-1.47,-0.48,-1.14,-0.38,-2.00,-3.48
10357,A. Albertson,401056546,288,271,93.0,90.3,82,17,27.4,13,...,3.5,2019,0,T18,-0.19,-0.15,1.73,0.36,1.94,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4708,Z. Sucher,401155421,142,146,26.0,20.8,20,0,6.0,0,...,7.3,2020,0,CUT,-2.30,0.48,-0.26,-0.39,-0.17,-2.47
4708,Z. Sucher,401056550,284,285,59.0,50.7,58,0,2.2,0,...,7.9,2019,0,T50,-0.42,-0.07,-0.23,1.05,0.76,0.34
4708,Z. Sucher,3067,144,149,17.5,13.8,23,0,0.2,0,...,7.5,2017,0,CUT,-0.88,-0.18,-0.44,0.08,-0.54,-1.41
4708,Z. Sucher,401056545,140,138,33.5,30.9,31,3,6.2,3,...,6.2,2019,0,CUT,-2.72,-0.67,1.67,0.94,1.94,-0.78
4708,Z. Sucher,2243,140,138,30.5,28.7,33,0,5.8,0,...,5.4,2015,0,CUT,-0.84,0.46,0.77,-0.43,0.79,-0.04